/* .form-control:focus{
  box-shadow: none;
  border: none;
}

table td{
  vertical-align: middle;
}
table img{
  width: 100px;
  
} */
 .text{
  font-family: "Pacifico", cursive;
  font-size: 50px;
 }
 .dotted{
  border-bottom: black dotted 2px;
 }
 .all{
  width: 85%;
 }
 .formm{
  width: 95%;
 }
.Submitt{
 background-color: #d1512d;
 border: #d1512d ;
 margin-left: 44%;
 
}
.Submitt:hover{
  background-color: #bb4120;
  border: #a03315;
}

  .text{
    position: relative;
    z-index: 1;
  }
  .line::after{
content: "";
border-bottom: 20px solid #fec260;
position: absolute;
width: 268px;
top: 8px;
left: 632px;
height: 100px;
  }





  .container:hover .line::after{
    border-bottom: 40px solid #fec260; 
    transition: all ease 0.5s;
  }
  .txt{
   
      font-family: "Righteous", sans-serif;
      font-weight: 700;
  
 
    
    font-size: 25px;
    background-image: linear-gradient(to right, #20873f, #ffea00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }
  .deletee{
    background-color: rgb(252, 50, 50);
    color: white;
 

  }
  .deletee:hover{
    background-color: rgb(241, 12, 12);
    border: rgb(228, 5, 5) solid 1px;
    color: white;
    
  }
  .visitt{
    background-color: #9eb23b;
    color: white;
  }
  .visitt:hover{
    background-color:  #8a9e23;
    border: #6e8018 solid 1px;
    color: white;
  }